<form (submit)="submitSearch()">
  <div class="filtro">
    <mat-form-field>
      <input type="text"
     placeholder="{{getSelectedItems()}}"
     aria-label="Number"
     matInput
     [matAutocomplete]="auto">
     <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option disabled>Selecciona una Categoría</mat-option>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox *ngIf="node.categoria.id != 0" class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                  (change)="todoLeafItemSelectionToggle(node)">{{node.categoria.nombre}}</mat-checkbox>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                  <mat-icon class="mat-icon-rtl-mirror"> 
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
              </button>
              <mat-checkbox *ngIf="node.categoria.id != 0"  [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">
                  {{node.categoria.nombre}}
              </mat-checkbox>
            </mat-tree-node>
        </mat-tree>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Introduce texto a buscar</mat-label>
      <input matInput type="text" [(ngModel)]="textoBuscar" name="textoBuscar">
    </mat-form-field>
    <button mat-raised-button class="boton" color="primary" type="submit" value="Crear">Buscar</button>
  </div>
</form>

<div *ngIf="productos.length > 0" class="productos-container">
  <mat-card *ngFor="let producto of productos" (click)="verDetalle(producto)">
    <mat-card-header>
      <mat-card-title>{{ producto.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ producto.categoriaNombre }}</mat-card-subtitle>
      <img class="imagen_tarjeta" mat-card-md-image [src]="producto.fotoBlob">
    </mat-card-header>
    <mat-card-content>
      <p>Estado: {{producto.estadoNombre }}</p>
    </mat-card-content>
  </mat-card>
</div>