.crear-categoria {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  mat-form-field {
    width: 100%;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  padding: 20px;
}

mat-card {
  width: calc(33.33% - 20px); 
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

.tarjeta-seleccion{
    width: calc(12% - 20px); 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

mat-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

mat-card-header {
  display: flex;
  align-items: center;
  padding: 8px 16px; 
}

mat-card-title {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
}

mat-card-content {
  padding: 8px 16px; 
}

mat-card-actions {
  display: flex;
  justify-content: flex-end; 
  padding: 8px 16px; 
}

.imagen-tarjeta-busqueda{
  margin-left: auto; 
  height: auto;
  margin-right: 10px; 
}


@media (max-width: 768px) {
  .productos-container {
    justify-content: center; 
  }

  mat-card {
    width: calc(50% - 20px); 
  }
}


@media (max-width: 480px) {
  mat-card {
    width: calc(100% - 20px); 
  }
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}


.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.bfab{
  margin-left:5px;
  margin-right:10px;
}

.input-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lista-atributos{
  width: 500px;
}

.example-tree-invisible {
    display: none;
  }
   
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }

  input.mat-input {
    height: 36px; 
  }


  
.dragarea {
    font-size: 1.5rem;
    border: 3px solid #bbb;
    padding: 1.5rem;
    background-color: #fff;
    color: #bbb;
    height: 100px;
}

.droparea {
  font-size: 1.5rem;
  border: 3px dashed #bbb;
  padding: 1.5rem;
  background-color: #eff;
  color: #aaa;
  height: 100px;
}

h2 {
  color: #B53F51;
}




.imgSrc{
  width: 200px;
  height: 200px;
}

.wrapper {
    margin-bottom: 70px;
  }

  .barra-comparativa {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    padding: 10px; 
    margin-bottom: 70px; 
  }

  .productos-seleccionados {
    display: flex;
    overflow-x: auto; 
    gap: 10px; 
    height: 150px; 
    scrollbar-width: thin; 
    scrollbar-color: #ccc #f0f0f0; 
  }

  .imagen-tarjeta-seleccion{
    width:70px;
    height: 70px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .contenido-tarjeta {
    display: flex;
    direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }