.carousel {
  width: 100%;
  
  img {
    width: 100%;
    height: auto;
  }

  .slick-dots {
    bottom: 20px;
    li {
      button {
        &:before {
          font-size: 12px;
          color: #fff; // Color de los puntos
        }
      }
    }
  }
}